@font-face {
	font-family: 'myFont';
	src: url('/results/Unibody8.ttf');
}
img.bg {
	min-width: 200px;
	width: 100%;
	height: auto;
	position: fixed;
	top: 0;
	left: 0;
	z-index: -1;
}
img.bg2 {
	min-width: 200px;
	width: 100%;
	height: auto;
	position: fixed;
	bottom: 0;
	left: 0;
	z-index: -1;
}
.align-center {
	margin: 0 auto;
	overflow: hidden;
	display: block;
	clear: both;
	text-align: center;
	float: none;
}

.vertical-center {
	min-height: 100%;  /* Fallback for vh unit */
	min-height: 100vh;
	display: -webkit-box;
	display: -moz-box;
	display: -ms-flexbox;
	display: -webkit-flex;
	display: flex; 

	-webkit-box-align : center;
	-webkit-align-items : center;
	-moz-box-align : center;
	-ms-flex-align : center;
	align-items : center;

	width: 100%;

    -webkit-box-pack : center;
	-moz-box-pack : center;
	-ms-flex-pack : center;
	-webkit-justify-content : center;
	justify-content : center;
}
.hello {
	color: #6d2191;
	font-family: 'myFont';
	font-size: 2em;
	line-height: 1.5em;
	margin-top: 200px;
}
.hello2 {
	color: #000000;
	font-family: 'myFont';
	font-size: 2em;
	line-height: 1.5em;
}
.rights {
	position: absolute; 
	margin-top: 10px; 
	margin-left: 10px; 
	color: #dfdfdf; 
	font-size: 0.9em
}
.wynik {
	color: #ffe400;
	text-align: center;
	font-family: 'myFont';
	font-size: 4em;
}
.wynik-info {
	color: #ffffff;
	text-align: center;
	font-family: 'myFont';
	font-size: 2em;
	line-height: 1.5em;
}
.user-name {
	color: #6d2191;
	font-family: 'myFont';
	font-size: 2em;
}
.time-info {
	color: #6d2191;
	font-family: 'myFont';
	font-size: 2em;
	line-height: 150%;
	text-align: right;
}
.timer {
	color: #000000;
	font-family: 'myFont';
	font-size: 2em;
	line-height: 150%;
	text-align: center;
	background-color: #ffffff;
}
.post-content {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
.word {
	color: #6d2191;
	font-family: 'myFont';
	font-size: 4em;
	line-height: 0.8em;
	margin-bottom: 80px;
}
.goat-answer {
	color: #ffffff;
	font-family: 'myFont';
	font-size: 1.1em;
}
.footer {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 160px;
	line-height: 150px;
}
.left-side {
	padding-top: 2%;
    float: none;
    display: table-cell;
}
.right-side {
	padding-top: 2%;
    float: none;
    display: table-cell;
}
.bubble-white {
    position: relative;
    padding: 15px;
	padding-bottom: 20px;
    margin: 5em 0 2em;
    color: #6d2191;
    background: #fff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble-white:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60px;
    border: 0;
    border-left-width: 30px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
}
.bubble-white:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60px;
    border: 0;
    border-left-width: 10px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #2093ff;
    display: block;
    width: 0;
}
.bubble-blue {
    position: relative;
    padding: 15px;
	padding-bottom: 20px;
    margin: 5em 0 2em;
    color: #fff;
    background: #2093ff;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble-blue:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60px;
    border: 0;
    border-left-width: 30px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #2093ff;
    display: block;
    width: 0;
}
.bubble-blue:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 60px;
    border: 0;
    border-left-width: 10px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
}
.bubble-violet {
    position: relative;
    padding: 15px;
	padding-bottom: 20px;
    margin: 4em 0 2em;
    color: #fff;
    background: #6d2191;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
}
.bubble-violet:before {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 20px;
    border: 0;
    border-left-width: 30px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #6d2191;
    display: block;
    width: 0;
}
.bubble-violet:after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 19px;
    border: 0;
    border-left-width: 10px;
    border-bottom-width: 20px;
    border-style: solid;
    border-color: transparent #fff;
    display: block;
    width: 0;
}